*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 12px;
}

h1{
	font-size: 6rem;
	/*72px*/
}
h2{
	font-size: 4rem;
	/*48px*/
}
h3{
	font-size: 3rem; 
	/*36px*/
}

p{
	font-size: 1.33rem;
}

.box{
	width: 100%;
	height: 200px;
	background: yellow;
}

.content, .inner{
	font-size: 2em;
}

.inner p{
	font-size: 2em;
}

@media (max-width: 768px){
	html{
		font-size: 10px;
	}

	p{
		font-size: 1.6rem;
	}
}



/* если мы верстаем mobile-first, 
мы используем диапазоны @media (min-width),
если сначала десктоп - @media (max-width) */
/*@media (min-width: 500px){
	.box{
		background: green;
	}
}

@media (min-width: 1024px){
	.box{
		background: lightblue;
		width: 600px;
		margin: 0 auto;
	}
}*/

svg{
	width: 200px;
}

path {
	fill: none;
	stroke: limegreen;
	stroke-width: 12;
	stroke-dasharray: 314;
	animation: disappear 3s;
}

@keyframes disappear{
	100%{
		stroke-dashoffset: 314;
	}
}

