.App {
  text-align: center;
}

*{
  box-sizing: border-box;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App{
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  flex-direction: column;
  min-height: 100vh;
}

main{
  flex: 1 1 auto;
}

a{
  color: inherit;
  padding: 0 10px;
}
header, footer{
  background-color: black;
  color: #fff;
  padding: 30px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.shop{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.pizza{
  width: 250px;
  padding: 20px;
}

.pizza img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.item_in_cart{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.item_in_cart img{
  width: 100px;
}
